/* App */

h1 {
  text-align: center;
}

/* menu compoemnt */

.menu button {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.menu .shuffle-btn {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.menu .take-btn {
  background: rgb(223, 117, 20); /* this is an orange */
}


.menu .sorttable-btn {
  background: rgb(28, 184, 65); /* this is a green */
}

.menu .startover-btn {
  background: rgb(202, 60, 60); /* this is a maroon */
}

/* deck compoment */

aside.deck {
  height: 2em;

  background: #1f8dd6;
  margin: 0.5em 0;
  line-height: 2em;
  padding-left: 1em;
  border-radius: 3px;
  color: #fff;
}

.card {
  text-align: center;
  height: 6em;
  margin: 0.25em;
  padding-top: 0.5em;
  font-size: 3em;
  border: 3px solid darkgray;
  border-radius: 0.5em;
}

.card:hover {
  cursor: pointer;
  opacity: .6;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

/* UserTable component */

.no-cards-msg {
  padding-left: 1em;
}
