/* App */

body, html {
  background: ghostwhite;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

/* menu compoemnt */

.menu {
  text-align: center;
}

.menu button {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.menu .shuffle-btn {
  background: rgb(28, 184, 65); /* this is a green */
}

.menu .take-btn {
  background: rgb(223, 117, 20); /* this is an orange */
}


.menu .sorttable-btn {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.menu .startover-btn {
  background: rgb(202, 60, 60); /* this is a maroon */
}

/* deck compoment */

.deck {
  margin: 2em auto;
  text-align: center;
}

.deck .card {
  border-color: black;
}

.deck .deck--left span {
  color: rgb(202, 60, 60);
  line-height: 3em;
  font-weight: bold;
}

.deck .deck--left, .deck .deck--shuffled {
  padding-top: 3em;
}

/* card component */

.card {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 20em;
  margin: 0.25em;
  border-radius: 10px;
  border: 1px solid lightgray;
  background: white;
}

.card:hover {
  cursor: pointer;
  border-color: black;
}

.card.card--red {
  color: rgb(202, 60, 60);;
}

.card.card--black {
  color:  rgb(45,45,45);
}

.card__rank, .card__suit {
  position: absolute;
}

.card__rank {
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .card__suit {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
}

.card .card__suit--top {
  top: 5px;
  left: 10px;
}

.card .card__suit--bottom {
  bottom: 5px;
  right: 10px;
  transform: rotate(180deg);
}


/* UserTable component */

.user-table {
  text-align: center;
  padding-bottom: 2em;
}

.user-table .user-table--no-cards-msg {
  padding-left: 2em;
  padding-right: 2em;
}
