/* menu compoemnt */

.menu button {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.menu .shuffle-btn {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.menu .take-btn {
  background: rgb(223, 117, 20); /* this is an orange */
}


.menu .sorttable-btn {
  background: rgb(28, 184, 65); /* this is a green */
}

.menu .startover-btn {
  background: rgb(202, 60, 60); /* this is a maroon */
}

/* deck compoment */

aside.deck {
  height: 3em;

  background: #1f8dd6;
  margin: 1em 0;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}

.card {
  height: 6em;
  padding: 1em;
  font-size: 2em;
  border: 1px solid rgb(223, 117, 20);
}